.App {
  text-align: center;
}

#light {
  background-color: rgb(251, 251, 251);
}

#dark {
  background-color: rgb(0, 0, 0);
}

#light h1{
  color: black;
}

#dark h1{
  color: aliceblue;
}
#light h2{
  color: black;
}

#dark h2{
  color: aliceblue;
}


.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

#light .switch label{
  color: black;
}

#dark .switch label{
  color: aliceblue;
}
